chromadb==0.5.15
google-ai-generativelanguage==0.6.6
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.65.0
httpx==0.27.2
langchain==0.2.16
langchain-community==0.2.17
langchain-core==0.2.41
langchain-google-genai==1.0.10
langchain-openai==0.1.23
langchain-text-splitters==0.2.4
langchain-upstage==0.2.2
langchainhub==0.1.21
langdetect==1.0.9
langserve==0.2.3
langsmith==0.1.135
numpy==1.26.4
openai==1.51.2
pandas==2.2.3
plotly==5.24.1
pydantic==2.9.2
pytubefix==8.1.1
selenium==4.25.0
sentence-transformers==3.2.0
streamlit==1.39.0
tiktoken==0.8.0
tokenizers==0.19.1
transformers==4.44.2
unstructured==0.15.14
